html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
}

.main--body{
  min-height: 100vh;
  max-width: 85vw;
  
  margin: 0 auto;
  font-family: "Poppins", sans-serif;

}

a {
  text-decoration: none;
  color: black;
}

/* ------navbar------- */
.navbar {
  display: flex;
  align-items: center;
  padding: 2.5rem;
}

.navbar a {
  text-decoration: none;
  margin: 1.25rem 2.81rem;
}

/* ------End navbar------ */

/* ------home start----- */
.background--first{
  position: absolute;   
  z-index: -3;
  height: 35rem;  
  width: 24rem;
  top: 0;
  left: 56rem;
  background-color: #9acd32;
}

#home {
  display: flex;
  /* background-color: beige; */
  margin: 3.75rem 0;
}

.home--main {
  padding: 3.12em 21.87em 3.12em 0;
}

.home--main h1 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0.625rem;
}

.home--main p {
  line-height: 1.2;
  margin-bottom: 25px;
}

.home--main button {
  background-color: #9acd32;
  border: none;
  color: white;
  padding: 0.93em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
}
.home--image img {
  width: 28.15vw;
  height: 58.14wh;
}

/*------ End home----- */

/* ------start education---- */
.background--second{
  position: absolute;
  z-index: -3;
  left: 0;
}
#education {
  display: flex;
  margin: 60px 0;
  /* background-color: aliceblue; */
}

.education--main {
  line-height: 1.5;
  font-size: 45px;
  flex: 1;
}

.education--main h1 {
  margin-top: 0;
  line-height: 1;
  font-weight: 600;
}
.education--content {
  padding-left: 150px;
  padding-right: 200px;
}
.education--content h2 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 7px;
}

.education--content h4 {
  margin: 0;
}

.education--content p {
  font-size: 0.9rem;
  margin: 7px 0;
}

/* -----End education---- */

/* -----start work----- */
.background--three{
  background-color: #9acd32;
  height: 2.5rem;
  width: 1.5rem;
  position: absolute;
  top: 0;
  left: 7px;
}
#work {
  margin: 60px 0;
  /* background-color: beige; */
}

.work--main {
  text-align: center;
}

.work--main h2 {
  font-size: 45px;
  font-weight: 600;
}

.work--main--para {
  max-width: 700px;
  margin: 40px auto;
  margin-bottom: 80px;
  font-size: 13px;
}

.work--content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  grid-gap: 50px;
  padding-left: 100px;
}

.work--content--block{
  position: relative;
  padding-top: 10px;

}

.work--content img {
  border-radius: 5px;
  width: 120px;
}

.work--content h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
}

.work--content p {
  font-size: small;
  font-weight: 500;
  padding-right: 110px;
  margin-top: 5px;
}

.work--content h4 {
  margin: 10px 0;
  color: #9acd32;
}
/* ---end work section-- */
/*---- achievement section--- */
.background--five{
  width: 2rem;
  height: 0.2rem;
  background-color: #9acd32;
}
.background--four{
  background-color: #9acd32;
  width: 26rem;
  height: 25rem;
  right: 0;
  position: absolute;
  z-index: -3;
}
#achievements {
  display: flex;
  margin: 60px 0;
  /* background-color: aliceblue; */
  gap:300px;
}

.achievements--content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 13px;
}

.achievements--content p{
  padding-right: 150px;
}

.achievements--header {
  line-height: 1.5;
  font-size: 45px;
  flex: 1;
  color: white;
}

.achievements--header h1 {
  line-height: 1;
  font-weight: 600;
}
/* ----End achievements--- */

/* start hobbies */
#hobbies{
  display: flex;
  margin: 60px 0;
}

.hobbies--header {
  flex: 1;
  padding-right: 300px;
  margin: auto 0;
}

.hobbies--header h1 {
  line-height: 1;
  font-weight: 600;
  font-size: 80px;
  margin-bottom: 30px;
  color: #9acd32;
}

.hobbies--header p{
  font-size: 13px;
  font-weight: 500;
}

.hobbies--content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "guitar friends"
    "guitar badminton"
  ;
  padding-left: 80px;

}
.hobbies--guitarImg{
  grid-area: guitar;
  justify-self: end;
  position: relative;
  top: 3.1rem;
}
.hobbies--friendsImg{
  grid-area: friends;
}
.hobbies--badmintonImg{
  grid-area: badminton;
}

/* ---end hobbies--- */

/* ---start contact---- */
.background--six{
  position: absolute;
  z-index: -3;
  left: 0;
  background-color: #9acd32;
  height: 20rem;
  width: 33rem;
}
.contact{
  display: flex;
  /* background-color: #9acd32; */
  justify-content: space-between;
}

.contact img{
  width: 20px;
  
}

.contact--main{
  margin: 60px 0;
  color: white;
}

.contact--main a{
  display: block;
  color: white;
}

.contact--main h2{
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 0px;
}

.instaImg{
  margin-top: 10px;
  margin-left: 20px;
}

.contact--right{
  position: relative;
}

.contact--right p{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 140px;
  
}